body {
 background-color: #000000
 }

#enlaces { 
	color: #990123;
	font-family: 'Playfair Display', serif;
}
h1 {
	font-family: 'Jomolhari', serif;
	font-size: 80px;
	line-height: 60px;
	color: black;
	margin: 40px;
	background-image: url(imaneses/fondo.jpg);
	border-radius: 25px;
	display: inline-block;
}

table {
	background-color: #616A6B;
	background-position: 10px 20px;


}

#disco {
	font-family: 'Dawning of a New Day', cursive;
	color: #FFFFFF;
    font-size: 14px; 
    letter-spacing: 5px;
    word-spacing: 10px; 
    line-height: 18px;
    text-align: center;
}